<br>
<div class="card">
  <div class="card-header">

      <h5 class="card-title">
        <strong>Name:</strong>
        <%= @friend.First_name %>
        <%= @friend.Last_name %>
       </h5>
      <p class="card-text">
        <strong>|| || || || || || </strong>

      </p>
  </div>
  <div class="card-body">

    <p class="card-text">
      <strong>Email:</strong>
      <%= @friend.Email %>
    </p>
    <p class="card-text">
      <strong>Phone no:</strong>
      <%= @friend.phone_no %>
     </p>

     <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> |
     <%= link_to 'Back', friends_path, class:"btn btn-secondary" %>
  </div>
</div>
